extends ./include/_layout
block var
  - metas = {}
  - metas.title = 'title'
  - metas.url = '/'
  - metas.imgpath = './image/'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
  - metas.keywords = 'keywords'
block append meta
  +meta(metas)
  include ./include/_inc_meta_facebook
  +inc_meta_facebook(metas)
block title
  title #{metas.title}
block body
  .btn#aabb
    p aaa
    a(href= metas.url )

    ul.list-news
      -
        const newsData = [
          {
            "img":"3.jpg",
            "date":"2020/05/01",
            "cat":"行事",
            "title":"新人研修を行いました",
            "link":"news3.html"
          },
          {
            "img":"2.png",
            "date":"2020/02/01",
            "cat":"お知らせ",
            "title":"Webサイトをリニューアルしました",
            "link":"news2.html"
          },
          {
            "img":"1.jpg",
            "date":"2019/12/20",
            "cat":"お知らせ",
            "title":"年末年始の営業のお知らせ",
            "link":"news1.html"
          },
        ]
      each val,i in newsData
        li.c-news_item
          a(href= metas.url + val.link)
            .news-items-wrap
              img(src=metas.imgpath + val.img, alt=val.title, srcset="")
            .content-inner
              p.title-name #{val.cat}
              p.title-content #{val.title}
    
